<a href="https://colab.research.google.com/github/kakyoung/class2022spring/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing libraries

In [2]:
import pandas as pd

### Loading csv file

In [3]:
df = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
#df = pd.read_csv #XX.csv = 엑셀 파일
#pd function
#df_dataframe int_정수

In [ ]:
print(df.size) #17000x9
print(df.ndim); print(df.shape)

In [5]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

### Saving to CSV

In [6]:
df.to_csv('california_housing_train.csv')
#data information_csv는 value만 저장하는 가장 general form이다.

### Constructing a DataFrame using dict_using {}

In [ ]:
# Some input data - a small sample of the iris dataset
data = {'sepal_length': [6.0, 6.9, 4.8, 5.4, 4.6],
        'age': [3.2, 3.1, 3.4, 3.0, 3.6],
        'petal_length': [5.7, 5.1, 1.9, 4.5, 1.0],
        'petal_width': [2.3, 2.3, 0.2, 1.5, 0.2],
        'species': ['virginica', 'virginica', 'setosa', 'versicolor', 'setosa']}
df = pd.DataFrame(data)
df

In [22]:
data = {'name': ['Kakyoung','Siyeon'],
        'age' :[15,24],
        'species' :['human','animal']}

df = pd.DataFrame(data)
df

       name  age species
0  Kakyoung   15   human
1    Siyeon   24  animal

### Constructing a DataFrame using pd.Series

In [35]:
sepal_length = pd.Series([6.9, 6.9, 4.8, 5.4, 4.6])
sepal_width = pd.Series([3.2, 3.1, 3.4, 3.0, 3.6])
petal_length = pd.Series([5.7, 5.1, 1.9, 4.5, 1.0])
petal_width = pd.Series([2.3, 2.3, 0.2, 1.5, 0.2])
species = pd.Series(['virginica', 'virginica', 'setosa', 'versicolor', 'setosa'])

df = pd.DataFrame({'sepal_length': sepal_length, 'sepal_width': sepal_width, 'petal_length': petal_length, 'petal_width': petal_width, 'SPECIES': species})
df

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

In [ ]:
name = pd.Series(['Kakyoung','Siyeon'])
age = pd.Series([15,24])
species = pd.Series(['human','animal'])

df = pd.DataFrame({'name':name ,'age':age,'species':species})
df

### Changing column names

In [36]:
# Change the columns
df.columns = ['tlqk', 'glaemfek', 'dlstod', 'dkdh', 'species']
df

   tlqk  glaemfek  dlstod  dkdh     species
0   6.9       3.2     5.7   2.3   virginica
1   6.9       3.1     5.1   2.3   virginica
2   4.8       3.4     1.9   0.2      setosa
3   5.4       3.0     4.5   1.5  versicolor
4   4.6       3.6     1.0   0.2      setosa

### Accessing columns

In [44]:
# Access one column 
df.loc[ : , 'tlqk']

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: tlqk, dtype: float64

In [43]:
# Access one column (short-hand)
df['tlqk']

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: tlqk, dtype: float64

In [45]:
# Access one column (shortest-hand)
df.tlqk

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: tlqk, dtype: float64

In [48]:
# Access two columns
df.loc[2, ['tlqk', 'glaemfek']]

tlqk        4.8
glaemfek    3.4
Name: 2, dtype: object

In [49]:
# Access two columns (short-hand)
df[['tlqk', 'glaemfek']]

   tlqk  glaemfek
0   6.9       3.2
1   6.9       3.1
2   4.8       3.4
3   5.4       3.0
4   4.6       3.6

### Accessing rows

In [51]:
# Access one row 
df.loc[3, 'tlqk']

5.4

In [ ]:
# Access two rows
df.loc[[3, 0], :]

In [ ]:
# Access a range of rows
df.loc[2:5, :]

In [ ]:
# Filter keeping only rows with `sepal_length` > 5
df[df.sepal_length > 5]

### Accessing a cell

In [ ]:
df.loc[:, 'sepal_length'][4]

4.6

In [ ]:
df['sepal_length'][4]

4.6

In [ ]:
df.sepal_length[4]

4.6

### Adding/Removing new columns

In [ ]:
df['new_column'] = 1
df

In [ ]:
df['new_column'] = [1, 2, 3, 4, 5]
df

In [ ]:
df = df.drop('new_column', axis=1) # axis=1: column
df

### Adding/Removing new rows

In [ ]:
df.loc[5, :] = ''
df

In [ ]:
df = df.drop(5, axis=0) # axis=0: row
df